<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.example.shop49k">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera"
                  android:required="true" />

    <application
            tools:replace="android:allowBackup"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:name=".MyApp"
            android:networkSecurityConfig="@xml/network_security_config"
            android:hardwareAccelerated="true"
            android:allowBackup="false"
    >
        <activity android:name=".ui.splash.SplashActivity"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.LoginActivity"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.signup.SignUpActivity"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.forgotPassword.ForgotPassWordActivity"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.MainActivity"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.example.shop49k.ui.smallActivity.editOffer.EditOfferActivity"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.smallActivity.createOffer.CreateOfferActivity"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.smallActivity.ImageDetailProfile.ImageDetailProfileActivity"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.smallActivity.personInfo.PersonInfoActivity"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.smallActivity.shopInfo.ShopInfoActivity"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.shipperMain.ShipperMainActivity"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.smallActivity.qrCode.QrCodeActivity"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
                  android:screenOrientation="portrait"
                  tools:replace="screenOrientation"
        />
        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="com.example.shop49k.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>
    </application>
    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>
</manifest>